# Environment Variables
.env
*.env

# Python Caches
__pycache__/
*.pyc
*.pyo

# Virtual Environments
venv/
env/
.venv/

# Test Caches
.pytest_cache/

# Windows OS Files
Thumbs.db

# Local Testing & Config Files
test_full_loop.py
test_galaxy_drag.py
test_shooter.py
pyrightconfig.json


.DS_Store
